:root {
  --color-1: #282c34;
  --color-2: whitesmoke;
  --color-3: rgba(240, 240, 240, .3);
}

#root {
  background: var(--color-1);
  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .logo {
      pointer-events: none;
      height: 3rem;
      display: inline;
    }
  }
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
