[submodule "server"]
	path = server
	url = https://github.com/spwashi/movie-search-server
[submodule "design"]
	path = design
	url = https://github.com/spwashi/movie-search-client-design.git
[submodule "discussion"]
	path = discussion
	url = https://github.com/spwashi/movie-search-discussion.git
